body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    color:white;
    background-color:darkgreen;
    display: block;
    text-align: center;
    padding: 1rem;
}

