* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
    color: blanchedalmond;
}

#contenedor {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

header {
    height: 100px;
    background-color: rgb(70, 6, 129);
}

header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

nav {
    background-color: chocolate;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav h2 {
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}

#contenido {
    width: 700px;
    height: 500px;
    float: left;
    background-color: rgb(5, 5, 99);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#contenido h2 {
    font-size: 30px;
    text-align: center;
    line-height: 500px;
}

aside {
    width: 270px;
    height: 500px;
    background-color: darkred;
    margin-top: 10px;
    float: right;
}

aside h2 {
    font-size: 25px;
    text-align: center;
}

footer {
    clear: both;
    background-color: darkgray;
    text-align: center;
}