html {
  box-sizing: border-box;
  font-size: 62.5%; /** 1rem=10px**/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2;
}
